<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul>
    <li><a th:href="@{/}" th:text="main" href="../index.html">MAIN</a></li>
    <li><a th:href="@{/home}" th:text="home" href="../home.html">HOME</a></li>
    <li><a th:href="@{/list}" th:text="list" href="dept/list.html">LIST</a></li>
    <li th:if="${session.sessionId != null}"><a th:href="@{/logout}" th:text="logout" href="../index.html">LogOut</a></li>
      <li th:if="${session.sessionId == null}"><a th:href="@{/login}" th:text="login" href="../index.html">LogOut</a></li>
  </ul>
  <h2>list page</h2>
  <p>안녕하세요</p>

</body>
</html>